<!-- Plug into layout template page -->
{% extends "layout.html" %}

{% block body %}

<!-- Check if this is the user's first login -->
{% if not session["last_login"] %}
<p>Welcome {{ session.firstname }} {{ session.lastname }}!</p>
{% else %}
<p>Welcome back {{ session.firstname }} {{ session.lastname }}!</p>
{% endif %}

<p>
    <!-- Check if this is the user's first login -->
    {% if not session["last_login"] %}
    This is your 1st login.
    {% else %}
    <!--TODO figure out how to get "date with text month" at "time"-->
    Your last successful login was on {{ session["last_login"] }} at {{ session["last_login"] }}.
    {% endif %}

    <!-- Number of failed logins since last session -->
    There
    {% if not session['failed_logins'] or session['failed_logins'] == 0 %}
    were no failed logins
    {% elif session['failed_logins'] == 1 %}
    was {{ session['failed_logins'] }} failed login
    {% else %}
    were {{ session['failed_logins'] }} failed logins
    {% endif %}
    {% if not session["last_login"] %}
    before now.
    {% else %}
    since then.
    {% endif %}
</p>

<P>
    <!-- Check if this user has admin privileges -->
    {% if session.isadmin == 1 %}
    <a href="/log">Login journal</a> -
    {% endif %}
    <a href="/logout">Log out</a>
</P>

{% endblock %}