<!-- Plug into layout template page -->
{% extends "layout.html" %}

{% block body %}

<!-- Check if this is the user's first login -->
<p>
    Welcome
    {% if session["last_login"] %}
    back
    {% endif %}
    {{ session.firstname }} {{ session.lastname }}!
</p>

<p>
    <!-- Check if this is the user's first login -->
    {% if not session["last_login"] %}
    This is your 1st login.
    {% else %}
    Your last successful login was on {{ session["last_login"].strftime("%d %B %Y at %H:%M:%S UTC") }}.
    {% endif %}

    <!-- Number of failed logins -->
    There
    {% if session['failed_logins'] > 1%}
    were {{ session['failed_logins'] }} failed logins
    {% elif session['failed_logins'] == 1 %}
    was 1 failed login
    {% else %}
    were no failed logins
    {% endif %}
    {% if not session["last_login"] %}
    before now.
    {% else %}
    since then.
    {% endif %}
</p>

<P>
    <!-- Check if user has admin privileges -->
    {% if session.isadmin == 1 %}
    <a href="/log">Log journal</a> -
    {% endif %}
    <a href="/logout">Log out</a>
</P>

{% endblock %}