<!-- Plug into layout template page -->
{% extends "layout.html" %}
{% block body %}

<!-- Check if this user has admin privileges -->
{% if session.isadmin == 1 %}
<p>Log journal</p>
<code>
    <!-- Iterate through each log entry -->
    {% for log in logs %}
    {{ log.log_time }} -
    {% if log.login_success %}
    success
    {% else %}
    failure
    {% endif %}
    login -
    {{ log.username }} ({{ log.firstname }} {{log.lastname }})
    <br>
    {% endfor %}
</code>
<P>
    <a href="/">Index</a> - <a href="/logout">Log out</a>
</P>
{% endif %}
{% endblock %}