{% extends "layout.html" %}

{% block body %}
<!--
    {% if login_error %}
    <p>Invalid username or password, please try again.</p>
    {% elif logout %}
    <p>You have successfully logged out, see you soon.</p>
    {% endif %}
-->

<p>Please Login:</p>

<form action="/login" method="post">

    <div>
        <label for="username">Username:</label>
        <!--TODO: Remove default value-->
        <input type="text" id="username" name="username" autocomplete="off" autofocus value="admin">
    </div>

    <div>
        <label for="password">Password:</label>
        <!--TODO: Remove default value-->
        <input type="password" id="password" name="password" value="riverBlue33">
    </div>

    <input type="submit" value="Login">

</form>

{% endblock %}